
.AppFlow{
    padding: 0 32px;
    margin-top: 120px;
    text-align: center;

    &> :not(:last-child){
        margin-bottom: 56px;
    }

    &-stage{
        &__icon-container{

            &__icon{
                width: 56px;
            }
        }

        &__text{

            &__title{
                font-family: 'Space Mono', monospace;
                font-weight: 700;
                font-size: 20px;
                letter-spacing: -0.89px;
                line-height: 1.4em;
                color: hsl(216, 17%, 34.5%);
                margin: 24px 0;
            }

            &__paragraph{
                font-size: 15px;
                line-height: 1.667em;
                color: hsl(217, 11.9%, 62.2%);
            }
        }
    }
}

@media screen and (min-width: 768px){
    .AppFlow {
        padding: 0 calc(18.06% - 95px);
        text-align: left;
        

        &-stage{
            display: flex;
            align-items: flex-start;

            &__icon-container{
                position: relative;

                &::before{
                    content: "";
                    width: 203px;
                    height: 15px;
                    display: block;
                    position: absolute;
                    top: -28px;
                    right: 22px;
                    background-image: url(./line.svg);
                    z-index: -1;
                    transform: rotateZ(90deg);
                }

                &__icon{
                    width: initial;
                    margin-right: 79px;
                    z-index: 1;
                }

            }

            &__text{

                &__title{
                    margin: 0 0 27px 0;
                    font-size: 24px;
                    line-height: 1.167em;
                    letter-spacing: -1.07px;
                }

            }
        }

    }
}

@media screen and (min-width: 1440px){

    .AppFlow{
        margin-top: 160px;
        display: flex;
        align-items: flex-start;

        &> :not(:last-child){
            margin: 0 30px 0 0;
        }

        &-stage{
            flex-direction: column;

            &__icon-container{
            

                &::before{
                    width: 385px;
                    top: 50%;
                    right: 0;
                    transform: rotateZ(0deg) translateY(-50%);
                    background-size: 100%;
                }

                &__icon{
                    margin: 0;
                }
            }

            &__text{
                max-width: 350px;
                margin-top: 40px;
            }
        }
    }
}
